{% extends 'layoutForm.twig' %}
{% block title %}
  <div class="header-menu-oficios">
    <button class="btn btn-info" id="menu-oficios"><i class="fa fa-th-list"></i></button>
    <span>Asignacion</span>
    <div class="menu-oficios">
      <ul>
        <li>
          <a href="/SIA/juridico/{{ ruta }}/historial/{{ id }}">Respuestas</a>      
        </li>
        {% if cedula %}
          <li>
            <a href="/SIA/juridico/{{ ruta }}/Observaciones/{{ id }}">Observaciones</a>
          </li>
          <li>
            <a href="/SIA/juridico/{{ ruta }}/Cedula/{{ id }}">Cedula</a>
          </li>
        {% endif %}
        {% if ruta=='confrontasJuridico' %}
            <li>
            <a href="/SIA/juridico/{{ ruta }}/cedula/create/{{ id }}">Cedula</a>
          </li>
        {% endif %}
      </ul>
    </div>
    
    
  </div>
{% endblock %}

{% block form %}

    <form id="asignacion"   data-ruta="{{ ruta }}" method="POST" enctype="multipart/form-data">
      <input type="hidden" value="{{ id }}" id="idVolante" name="idVolante">
      <input type="hidden" name="idEstadoTurnado" value='NUEVO'>
      <div class="row row-form">
        
       <div class="col-lg-5">
        <label>Enviar A: </label>
        <select name="idUsrReceptor" class="form-control" required>
          <option value="">Seleccione una Opcion</option>
          {% for persona in personas %}
            <option value="{{ persona.idPuestoJuridico }}">
              {{ persona.saludo }} {{ persona.nombre }} {{ persona.paterno }} {{ persona.materno }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="col-lg-3">
        <label>Prioridad</label>
        <select class="form-control" name="idTipoPrioridad" required>
          <option value="">Seleccione una Opcion</option>
          <option value="NORMAL">Normal</option>
          <option value="URGENTE">Urgente</option>
        </select>
      </div>
      
      </div>

      <div class="row row-form">
        <div class="col-lg-11">
          <label>Anexar Documento</label>
          <input type="file" name="file" class="form-control">
        </div>
      </div>

      <div class="row row-form">
        <div class="col-lg-11">
            <label>Comentario</label>
            <textarea placeholder="Comentario" class="form-control" name="comentario" maxlength="350"></textarea>
        </div>
      </div>
       <div class="form-group send">
            <input class="btn btn-primary btn-sm" type="submit" value="Guardar"/>
            <button class="btn btn-danger btn-sm" id="cancelar" data-ruta="{{ ruta }}">Cancelar</button>
      </div>

    </form>
   
{% endblock %}
