{% extends 'layoutTable.twig' %}

{% block order %}
    <div class="row">
        <button class="btn btn-info col-lg-12" id="btn-order" data-ruta="{{ ruta }}">
            <i class="fa fa-signal"></i> Ordernar
        </button>
    </div>
{% endblock %}

{% block table %}
    <table class="table table-hover " id="main-table-oficios" data-ruta="{{ ruta }}">
        <thead>
        <th class="hidden">id</th>
        <th>Folio</th>
        <th>Documento</th>
        <th>Remitente</th>
        <th>Recepcion</th>
        <th>Asunto</th>
        <th>Caracter</th>
        <th>Accion</th>
        <th>Auditoria</th>
        <th>Desfazado</th>
        <th>Estado</th>

        </thead>
        {% for irac in iracs %}
            <tr data-ruta="{{ ruta }}">

                <td class="hidden">{{ irac.idVolante }}</td>
                <td>{{ irac.folio }}</td>
                <td>{{ irac.numDocumento }}</td>
                <td>{{ irac.idRemitente }}</td>
                <td>{{ irac.fRecepcion }}</td>
                <td>{{ irac.asunto }}</td>
                <td>{{ irac.caracter }}</td>
                <td>{{ irac.accion }}</td>
                <td>{{ irac.clave }}</td>
                <td>{{ irac.extemporaneo }}</td>
                {% if irac.idEstadoTurnado == 'CERRADO' %}
                    <td class="cerrado">{{ irac.idEstadoTurnado }}</td>
                {% else %}
                    <td>{{ irac.idEstadoTurnado }}</td>
                {% endif %}



            </tr>
        {% endfor %}
    </table>
{% endblock %}