{% extends 'layoutForm.twig' %}
{% block title %}
  <div class="header-menu-oficios">
    <button class="btn btn-info" id="menu-oficios"><i class="fa fa-th-list"></i></button>
    <span>Crear Cedula</span>
    <div class="menu-oficios">
      <ul>
        <li>
          <a href="/SIA/juridico/{{ ruta }}/historial/{{ id }}">Respuestas</a>      
        </li>
        {% if cedula %}
          {% if ruta != 'confrontasJuridico' and ruta != 'turnos' %}
            <li>
              <a href="/SIA/juridico/{{ ruta }}/observaciones/{{ id }}">Observaciones</a>
            </li>
          <li>
            <a href="/SIA/juridico/{{ ruta }}/cedula/create/{{ id }}">Cedula</a>
          </li>
          {% endif %}

          {% if ruta == 'confrontasJuridico' %}

            <li>
            <a href="/SIA/juridico/{{ ruta }}/cedula/create/{{ id }}">Cedula</a>
          </li>

          {% endif %}
          

        {% endif %}
      </ul>
    </div>
    
    
  </div>
{% endblock %}

{% block form %}
    <form class="form" id="confrontasJuridico" method="POST"  data-ruta="confrontasJuridico">
        <input id="idVolante" type="hidden" name="idVolante" value="{{ idVolante }}" />
        {% if nota[0].notaConfronta == 'SI' %}
            <div class="group-nota">
                <div class="form-group notaInformativa row">
                    <label for="notaInformativa" class="col-lg-2">nota Informativa</label>
                    <input class="form-control col-lg-4" id="notaInformativa" type="text" placeholder="nota Informativa" name="notaInformativa" maxlength="20" />
                </div>
            </div>
        {% endif %}
        <div class="group-datos">
            <div class="form-group nombre row">
                <label for="nombre" class="col-lg-2">Nombre</label>
                <input class="form-control col-lg-4"  type="text" placeholder="Nombre"  pattern="[A-Za-z]+" name="nombreResponsable" maxlength="50" />
            </div>
            <div class="form-group cargo row">
                <label for="cargo" class="col-lg-2">Cargo</label>
                <input class="form-control col-lg-4"  type="text" placeholder="cargo"  pattern="[A-Za-z]+" name="cargoResponsable" maxlength="50" />
            </div>
            <div class="form-group fConfronta row">
                <label for="fConfronta" class="col-lg-2">Fecha Confronta</label>
                <input class="form-control fechaInput col-lg-2" type="text" name="fConfronta"  pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" maxlength="10" />
            </div>
            <div class="form-group hConfronta row">
                <label for="hConfronta" class="col-lg-2">Hora de Confronta</label>
                <input class="form-control col-lg-2"  type="time" pattern="([0-1]{1}[0-9]{1}|20|21|22|23):[0-5]{1}[0-9]{1}"  name="hConfronta" />
            </div>
            <div class="form-group fecha row">
                <label for="fecha" class="col-lg-2">Fecha Documento</label>
                <input class="form-control fechaInput col-lg-2" type="text" name="fOficio"  pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" maxlength="10" />
            </div>
        </div>
        <div class="group-firmas">
            <div class="form-group siglas row" >
                <label for="siglas" class="col-lg-2">Siglas</label>
                <input class="form-control col-lg-2" id="siglas" type="text" placeholder="siglas" required="" name="siglas" maxlength="20" />
            </div>
            <div class="form-group numFolio row">
                <label for="numFolio" class="col-lg-2">Numero Documento</label>
                <input class="form-control col-lg-2"  type="text" name="numFolio" maxlength="20" />
                
            </div>

        </div>
        <div class="form-group send">
            <input class="btn btn-primary btn-sm" type="submit" value="Guardar"/>
            <button class="btn btn-danger" id="cancelar" data-ruta="confrontasJuridico">Cancelar</button>
        </div>
    </form>
   
{% endblock %}