
{% extends 'layoutForm.twig' %}


{% block title %}
  <div class="header-menu-oficios">
    <button class="btn btn-info" id="menu-oficios"><i class="fa fa-th-list"></i></button>
    <span>Cedula</span>
    <div class="menu-oficios">
      <ul>
        <li>
          <a href="/SIA/juridico/{{ ruta }}/{{ idVolante }}">Asignacion</a>      
        </li>
        <li>
          <a href="/SIA/juridico/{{ ruta }}/historial/{{ idVolante }}">Respuestas</a>      
        </li>
        {% if cedula %}
          <li>
            <a href="/SIA/juridico/{{ ruta }}/observaciones/{{ idVolante }}">Observaciones</a>
          </li>
        {% endif %}
      </ul>
    </div>
    
    
  </div>
{% endblock %}

{% block form %}
<form class="form" id="insert-cedula-irac" method="POST"  data-ruta="Irac">
        <div>
            <div class="form-group siglas row">
                <label class="form-control-label col-lg-2" for="siglas">Siglas</label>
                <input type="hidden" name="idVolante" value="{{ idVolante }}"/>
                <input 
                    class="form-control col-lg-2"  
                    type="text"
                    name="siglas" 
                    maxlength="50"
                    value="{{ datos.siglas }}"
                />
            </div>
            
            <div class="form-group fecha row">
                <label class="form-control-label col-lg-2" for="fecha">Fecha Documento</label>
                <input class="form-control fechaInput col-lg-2" type="text" name="fOficio" required="" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" 
                value="{{ datos.fOficio }}"
                />
            </div>
            <div class="form-group firmas row">
                <label class="form-control-label col-lg-2" for="modalFirmas">Añadir Firmas</label>
                <button class="btn btn-info col-lg-2" id="modalFirmas">Firmas</button>
               
            </div>

            <div class="form-group firmas row">
                <label class="form-control-label col-lg-2" for="modalTextos">Promocion de Acciones</label>
                <button class="btn btn-info col-lg-2" id="modalTextos">Texto</button>
                <input 
                    type="hidden" 
                    name="idDocumentoTexto"        
                    id="idDocumentoTexto" 
                    value="{{ datos.idDocumentoTexto }}"
                />

                 <input 
                    type="hidden" 
                    name="idPuestosJuridico"        
                    id="idPuestosJuridico" 
                    value="{{ datos.idPuestosJuridico }}"
                />
            </div>

            <div class="form-group row">
                <label class="form-control-label col-lg-2">Espacio Observaciones</label>
                <input type="number" class="form-control col-lg-2" name="encabezado" pattern="[0-9]+" min="0" max="30" value="0">
            </div>

            <div class="form-group row">
                <label class="form-control-label col-lg-2">Espacio Texto</label>
                <input type="number" class="form-control col-lg-2" name="cuerpo" pattern="[0-9]+" min="0" max="30" value="0">
            </div>

            <div class="form-group row">
                <label class="form-control-label col-lg-2">Espacio firmas</label>
                <input type="number" class="form-control col-lg-2" name="pie" pattern="[0-9]+" min="0" max="30" value="0">
            </div>

        </div>


        <div class="form-group send">
            <input class="btn btn-primary btn-sm" type="submit" value="Guardar"/>
            <button class="btn btn-danger" id="cancelar">Cancelar</button>
        </div>
    </form>
    
{% endblock %}









