{% extends 'layoutForm.twig' %}
{% block title %}Subir Archivo{% endblock %}
{% block form %}
    <form id="documentosJur" class="form" enctype="multipart/form-data" method="POST" data-ruta="{{ ruta }}">

        <div class="form-group row">
            <label class="form-control-label col-lg-2" for="documento">Arhivos Asignados</label>
            {% if volantes.anexoDoc == NULL %}
                <a href="#!" class="col-lg-3"><strong>No hay Documento Asignado</strong></a>
            {% else %}
                <a href="/SIA/hibrido/files/{{ volantes.idVolante }}/Areas/{{ volantes.anexoDoc }}" class="col-lg-8" target="_blank">{{  volantes.anexoDoc }}</a>
            {% endif %}
            <input type="hidden" name="idVolante" value="{{ id }}">
        </div>

        <div class="form-group file row">
            <label class="form-control-label col-lg-2" for="documento">Archivo</label>
            <input type="file" class="col-lg-5 form-control" name="file" id="imagen" required="required"/>
        </div>

        <div class="form-group send">
            <input class="btn btn-primary" type="submit" value="Guardar"/>
            <button class="btn btn-danger btn-sm" id="cancelar" data-ruta="{{ ruta }}">Cancelar</button>
        </div>
    </form>
{% endblock %}