{% extends 'layoutTable.twig' %}


{% block order %}
     <div class="row">
        <button class="btn btn-info col-lg-12" id="btn-order" data-ruta="DocumentosGral">
            <i class="fa fa-signal"></i> Ordernar
        </button>
    </div>
{% endblock %}

{% block table %}
    <table class="table table-hover" id="main-table-files" data-ruta="DocumentosGral">
        <tr>
            <th class="hidden">id</th>
            <th scope="col">Folio</th>
            <th scope="col">Documento</th>
            <th scope="col">Tipo</th>
            <th scope="col">Remitente</th>
            <th scope="col">Archivo</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>

        </tr>
        {% for documento in documentos %}
            <tr data-ruta="DocumentosGral">

                <td class="hidden">{{ documento.idVolante }}</td>
                <td>{{ documento.folio }} - {{ documento.subFolio }}</td>
                <td>{{ documento.numDocumento }}</td>
                <td>{{ documento.nombre }}</td>
                <td>{{ documento.idAreaRecepcion }}</td>
                {% if documento.anexoDoc | length < 1 %}
                    <td class="sa">Sin Asignar</td>
                {% else %}
                    <td>{{ documento.anexoDoc }}</td>
                {% endif %}
                <td>{{ documento.fRecepcion}}</td>
                {% if documento.idEstadoTurnado == 'CERRADO' %}
                    <td class="cerrado">{{ documento.idEstadoTurnado }}</td>
                {% else %}
                    <td>{{ documento.idEstadoTurnado }}</td>
                {% endif %}


            </tr>
        {% endfor %}
    </table>

{% endblock %}