{% extends 'layoutTable.twig' %}
{% block btnHeader %}
    <a id="addRegister" href="/SIA/juridico/Volantes/create" class="btn btn-primary btn-add" role="button">
        Añadir Registro
    </a>
{% endblock %}

{% block order %}
    <div class="row">
        <button class="btn btn-info col-lg-12" id="btn-order" data-ruta="Volantes">
            <i class="fa fa-signal"></i> Ordernar
        </button>
    </div>
{% endblock %}





{% block table %}
    <table class="table table-hover" id="main-table-volantes" data-ruta="Volantes">
        <tr>
            <th class="hidden">id</th>
            <th scope="col">Folio</th>
            <th scope="col">Documento</th>
            <th scope="col">Remitente</th>
            <th scope="col">Turnado</th>
            <th scope="col">Fecha Recepcion</th>
            <th scope="col">Desfazado</th>
            <th scope="col">Auditoria</th>
            <th scope="col">Oficio</th>
            <th scope="col">Estado</th>
        </tr>
        {% for volante in volantes %}
            <tr data-ruta="Volantes">

                <td class="hidden">{{ volante.idVolante }}</td>
                <td>{{ volante.folio }} - {{ volante.subFolio }}</td>
                <td>{{ volante.numDocumento }}</td>
                <td>{{ volante.idRemitente }}</td>
                <td>{{ volante.idAreaRecepcion }}</td>
                <td>{{ volante.fRecepcion }}</td>
                <td>{{ volante.extemporaneo }}</td>
                <td>{{ volante.clave }}</td>
                <td>{{ volante.nombre }}</td>
                {% if volante.idEstadoTurnado == 'CERRADO' %}
                    <td class="cerrado">{{ volante.idEstadoTurnado }}</td>
                {% else %}
                    <td>{{ volante.idEstadoTurnado }}</td>
                {% endif %}


            </tr>
        {% endfor %}
    </table>
{% endblock %}