{% extends 'layoutForm.twig' %}
{% block title %}
  <div class="header-menu-oficios">
    <button class="btn btn-info" id="menu-oficios"><i class="fa fa-th-list"></i></button>
    <span>Observaciones</span>
    <div class="menu-oficios">
      <ul>
        <li>
          <a href="/SIA/juridico/{{ ruta }}/{{ id }}">Asignacion</a>      
        </li>
        <li>
          <a href="/SIA/juridico/{{ ruta }}/historial/{{ id }}">Respuestas</a>      
        </li>
        {% if cedula %}
          <li>
            <a href="/SIA/juridico/{{ ruta }}/Cedula/{{ id }}">Cedula</a>
          </li>
        {% endif %}
      </ul>
    </div>
    
    
  </div>
{% endblock %}

{% block form %}

<form class="form" id="Observaciones-insert" method="POST" data-ruta="Irac">
    <div>
        <div class="form-group pagina row">
            <label for="text" class="col-lg-2">Hoja</label>
            <input id="idVolante" type="hidden" name="idVolante" value="{{ id }}" />
            <input 
                class="form-control col-lg-2"  
                type="text" 
                name="pagina" 
                maxlength="50" 
            />
        </div>
        

        <div class="form-group parrafo row">
                <label for="parrafo" class="col-lg-2">Parrafo</label>
                <input 
                    class="form-control col-lg-2" 
                    type="text" 
                    name="parrafo"
                    maxlength="50" 
                />
            </div>
        </div>

        <div class="row">
            <label for="observacion" class="col-lg-2">Observacion</label>
            <textarea class=" col-lg-9" id="ckeditor" rows="3" name="observacion"></textarea>
        </div>
        <div class="envio">
            <div class="form-group send">
                <input class="btn btn-primary btn-sm" type="submit" value="Guardar"/>
                <button class="btn btn-danger" id="cancelar" data-ruta="Irac">Cancelar</button>
            </div>
        </div>
    </form>
{% endblock %}